h1
{
	margin-right:250px;
	margin-left:250px;
	background-color: purple;
	border-radius:20px;
	width:400px;
	text-align:center;
	
}

body
{
	background-color:#FFCCFF
	
	
}

ul
{
	margin-right:250px;
	margin-left:250px;
	
}

